﻿.hide {
    display: none !important;
}

.pull-right{
    float: right;
}

.form-control.input-validation-error {
    border-color: #dc3545;

    &:focus {
        border-color: #dc3545;
        box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
    }
}
