﻿@font-face {
    font-family: 'NunitoSansRegular';
    src: url('/Content/Fonts/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: 'NunitoSansBold';
    src: url('/Content/Fonts/NunitoSans-Bold.ttf');
}

@font-face {
    font-family: 'NunitoSansExtraLight';
    src: url('/Content/Fonts/NunitoSans-ExtraLight.ttf');
}

@font-face {
    font-family: 'NunitoSansLight';
    src: url('/Content/Fonts/NunitoSans-Light.ttf');
}