﻿// colors


// fonts
$nunito-regular: "NunitoSansRegular";
$nunito-bold: "NunitoSansBold";
$nunito-light: "NunitoSansLight";
$nunito-extra-light: "NunitoSansExtraLight";

// font sizes
$smallest-font-size: 9px;
$very-small-font-size: 13px;
$smaller-font-size: 14px;
$small-font-size: 15px;
$regular-font-size:  16px;
$medium-font-size: 17px;
$big-font-size: 20px;
$bigger-font-size: 22px;
$very-big-font-size: 24px;

// heading
$smallest-heading: 30px;
$very-small-heading: 32px;
$small-heading: 36px;
$very-big-heading: 98px;