﻿@model EquipmentRental.ViewModels.AddRentalDaysViewModel

@using (Html.BeginForm("AddRentalDays", "Basket", FormMethod.Post, new { @class = "ajax-form", data_on_success = "equipmentrental.generic.callbacks.onSuccessAddRentalDays" }))
{
    @Html.HiddenFor(m => m.EquipmentId)
    @Html.AntiForgeryToken()

    <div id="modalBody" class="modal-body">
        <div class="form-group">
            @Html.LabelFor(m => m.RentalDays)
            @Html.TextBoxFor(m => m.RentalDays, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RentalDays, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Add To Basket" />
    </div>
}