﻿@model EquipmentRental.ViewModels.BasketViewModel
@{
    var i = 0;
}
<div id="shopping-basket" data-basket-items-count="@Model.Count">
    <div class="modal-body">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Rental Days</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var basketItem in Model.BasketItems)
                {
                    <tr>
                        <th scope="row">@(++i)</th>
                        <td>@basketItem.Equipment.Name</td>
                        <td>@basketItem.Equipment.EquipmentType</td>
                        <td>@basketItem.Quantity</td>
                        <td>@basketItem.RentalDays</td>
                        <td>@(basketItem.Price * basketItem.Quantity)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="@Url.Action("Checkout", "Basket")" class="btn btn-primary">Checkout <i class="fas fa-chevron-double-right fa-lg"></i></a>
    </div>
</div>