﻿@{ 
    ViewBag.Title = "404 error";
}

<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <h1>404 error</h1>
        <h2 class="text-muted">Oops, something went wrong!</h2>
        <a class="btn btn-dark mt-3" href="@Url.Action("Index", "Equipment")">Back To Equipments</a>
    </div>
</div>
